# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.pub/
/build/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

# Example related
example/*.class
example/*.log
example/*.pyc
example/*.swp
example/.DS_Store
example/.atom/
example/.buildlog/
example/.history
example/.svn/
example/*.iml
example/*.ipr
example/*.iws
example/.idea/
example/.vscode/
example/**/doc/api/
example/.dart_tool/
example/.flutter-plugins
example/.packages
example/.pub-cache/
example/.pub/
example/build/
example/**/android/**/gradle-wrapper.jar
example/**/android/.gradle
example/**/android/captures/
example/**/android/gradlew
example/**/android/gradlew.bat
example/**/android/local.properties
example/**/android/**/GeneratedPluginRegistrant.java
example/**/ios/**/*.mode1v3
example/**/ios/**/*.mode2v3
example/**/ios/**/*.moved-aside
example/**/ios/**/*.pbxuser
example/**/ios/**/*.perspectivev3
example/**/ios/**/*sync/
example/**/ios/**/.sconsign.dblite
example/**/ios/**/.tags*
example/**/ios/**/.vagrant/
example/**/ios/**/DerivedData/
example/**/ios/**/Icon?
example/**/ios/**/Pods/
example/**/ios/**/.symlinks/
example/**/ios/**/profile
example/**/ios/**/xcuserdata
example/**/ios/.generated/
example/**/ios/Flutter/App.framework
example/**/ios/Flutter/Flutter.framework
example/**/ios/Flutter/Generated.xcconfig
example/**/ios/Flutter/app.flx
example/**/ios/Flutter/app.zip
example/**/ios/Flutter/flutter_assets/
example/**/ios/ServiceDefinitions.json
example/**/ios/Runner/GeneratedPluginRegistrant.*
!example/**/ios/**/default.mode1v3
!example/**/ios/**/default.mode2v3
!example/**/ios/**/default.pbxuser
!example/**/ios/**/default.perspectivev3
!example/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
